---
layout: archive
author_profile: true
---

<div class="featured-projects">
	{% for project in site.projects %}
	{% if project.isfeatured %}

	<a class="project-link" href="{{ project.url }}">
		<div class="featured-project">
			<div class="project-blurb">
				<div class="featured">FEATURED PROJECT</div>
				<h2 class="project-title">{{ project.title }}</h2>
				<p class="project-description"> {{ project.description }} </p>
				{% for tag in project.tags %}
				<div class="project-tag">{{ tag }}</div>
				{% endfor %}
			</div>
			<img class="project-preview" src="{{ project.preview }}" alt="{{ project.title }} preview">
		</div>
	</a>

	{% endif %}
	{% endfor %}
</div>

<div class="normal-projects">
	{% for project in site.projects %}
	{% unless project.isfeatured %}

	<a class="project-link" href="{{ project.url }}">
		<div class="normal-project">
			<div class="project-blurb">
				<h2 class="project-title">{{ project.title }}</h2>
				<p class="project-description"> {{ project.description }} </p>
				{% for tag in project.tags %}
				<div class="project-tag">{{ tag }}</div>
				{% endfor %}
			</div>
			<img class="project-preview" src="{{ project.preview }}" alt="{{ project.title }} preview">
		</div>
	</a>

	{% endunless %}
	{% endfor %}
</div>