.project-link {
	text-decoration: none;
}

.featured-project {
	display: grid;
	grid-template-columns: 2fr 3fr;
	width: 100%;
	background-color: $project-background-color;
	transition: transform 250ms ease-in-out;
}

.featured-project:hover {
	transform: translateY(-0.5rem);
}

.project {
	display: grid;
	width: 50%;
	background-color: $project-background-color;
	transition: transform 250ms ease-in-out;
}

.project:hover {
	transform: translateY(-0.25rem);
}

.featured {
	color: $featured-color;
	letter-spacing: 0.25em;
}

.project-blurb {
	display: inline-block;
	padding: 2rem;
}

.project-title {
	color: $primary-color;
	margin-top: 1rem;
	margin-bottom: 0.25rem;
}

.project-tag {
	display: inline-block;
	font-size: 0.75rem;
	padding: 2px 6px;
	margin-bottom: 4px;
	border-color: $project-tag-color;
	border-style: solid;
	border-width: 1px;
	color: $project-tag-color;
	background-color: $project-tag-background-color;
}

.project-description {
	color: $text-color;
}

.project-preview {
	display: inline-block;
}
